<{* $Id: $ *}>
<{assign var="dirname" value="bmcart"}>
<{assign var="contname" value="item"}>

<h3><{$smarty.const._MD_BMCART_ITEM_DETAIL}></h3>
<table class="table">
	<tr>
		<td><{$smarty.const._MD_BMCART_ITEM_NAME}></td>
		<td><{$ListData.item_name|xoops_escape}></td>
	</tr>
	<tr>
		<td><{$smarty.const._MD_BMCART_ITEM_DESC}></td>
		<td><{$ListData.item_desc}></td>
	</tr>
	<tr>
		<td><{$smarty.const._MD_BMCART_ITEM_PRICE}></td>
		<td align="right"><{$ListData.price|number_format}><{$smarty.const._MD_BMCART_PRICE_DESC}></td>
	</tr>
	<tr>
		<td><{$smarty.const._MD_BMCART_ITEM_SHIPPING_FEE}></td>
		<td align="right"><{$ListData.shipping_fee|number_format}></td>
	</tr>
	<tr>
		<td><{$smarty.const._MD_BMCART_ITEM_STOCK}></td>
		<td class="align-right"><{$ListData.stock_qty|number_format}></td>
	</tr>
	<tr>
		<td><{$smarty.const._MD_BMCART_UPDATE}></td>
		<td class="align-right"><{$ListData.last_update|date_format:'%Y&#x5E74;%m&#x6708;%e&#x65E5;'}></td>
	</tr>
</table>
<a class="btn" href="<{$xoops_url}>/modules/<{$dirname}>/itemList/addtocart/<{$ListData.item_id|xoops_escape}>">
	<td><{$smarty.const._MD_BMCART_ADDTOCART}></td>
</a>

<div class="pagenavi" align="center"><{xoops_pagenavi pagenavi=$pageNavi}></div>
