<ul id="mainmenu">
	<{foreach item=categoryList from=$block.categoryList}>
		<{foreach item=category from=$categoryList}>
		<li>
		<{if $category.parent_id==0}>
		<a class="menuMain" href="<{$xoops_url}>/modules/bmcart/itemList/category/<{$category.category_id}>">
			<{$category.category_name}>
		</a>
		<{else}>
			<a class="menuSub" href="<{$xoops_url}>/modules/bmcart/itemList/category/<{$category.category_id}>">
				<{$category.category_name}>
			</a>
		<{/if}>
		</li>
	<{/foreach}>
	<{/foreach}>
</ul>
