<ul>
	<{foreach item=categoryList from=$block.categoryList}>
		<{foreach item=category from=$categoryList}>
		<{if $category.parent_id==0}>
		<li>
			<a class="menuMain" href="<{$xoops_url}>/modules/bmcart/itemList/category/<{$category.category_id}>">
				<{$category.category_name}>
			</a>
		</li>
		<{else}>
			<a class="menuSub" href="<{$xoops_url}>/modules/bmcart/itemList/category/<{$category.category_id}>">
				<{$category.category_name}>
			</a>
		<{/if}>
		<{/foreach}>
	<{/foreach}>
</ul>
